!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Metricator'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Metricator'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'https://www.gstatic.com/charts/loader.js'
    = csrf_meta_tags
    <!-- Global site tag (gtag.js) - Google Analytics -->
    :erb
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-33457928-14"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-33457928-14');
      </script>

  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield
